/* LetsConnect.css */

.lets-connect-container {
    max-width: 500px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left:500px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lets-connect-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .lets-connect-container form input,
  .lets-connect-container form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .lets-connect-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .lets-connect-container form button:hover {
    background-color: #0056b3;
  }
  